<head>
    <title>Mapa de Salud de Guayaquil</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="http://miniguia.virtuonet.com/images/gyeicon.png" type="image/png" sizes="16x16"/>
    <link rel="icon" href="http://miniguia.virtuonet.com/images/gyeicon.png" type="image/png" sizes="32x32"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto"/>
    <link rel='stylesheet' href='css/animate.css' />
    <link rel='stylesheet' href='css/index.css' />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body class="hm-index-body text-center" style="overflow-x: hidden">
    <div id="hm-container" class="cover-container d-flex h-100 mx-auto flex-column">
  
      <% include titlebar %>
  
      <div class="hm-container">
      <main role="main" class="inner cover">
  
        <h3 class="hm-institutions-title">INICIAR SESIÓN</h3>
  
        <div style="display: flex; flex-direction: column; align-items: center; padding: 60px; padding-bottom: 16px;">
            <form class="hm-login-form" action="/login" method="post">
              <input input type="text" class="shy-form-field-input shy-form-field" placeholder="Ingrese su email" name="email" required>
              <input type="password" class="shy-form-field-input shy-form-field" placeholder="Ingrese su contraseña" name="password" required>
              <div class="hm-login-btn" style="display: flex; justify-content: space-around">
                <input type="submit" value="INGRESAR" class="hm-btn hm-btn-primary">
              </div>
            </form>
        </div>
    </main>
    </div>
    </div>
  
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
  
  
  </body>
  