<header class="masthead">
  <a href="/health-map" class="hm-masthead-brand-link">
      <div class="hm-masthead-brand">Mapas de Salud de Ecuador</div>
  </a>
  <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" href="/institutions">
        <i class="hm-nav-icon material-icons">
            favorite
        </i>
        <div class="hm-nav-text">
          Mapas de Salud
        </div>
      </a>
      <a class="nav-link" href="/institutions">
        <i class="hm-nav-icon material-icons">
            local_hospital
        </i>
        <div class="hm-nav-text">
          Intituciones Colaboradoras
        </div>
      </a>
      <a class="nav-link" href="/info">
        <i class="hm-nav-icon material-icons">
            info
        </i>
        <div class="hm-nav-text">
            Mas información
        </div>        
      </a>
      <a class="nav-link" href="http://150.136.213.20/" target="_blank">
        <i class="hm-nav-icon material-icons">
            location_city
        </i>
        <div class="hm-nav-text">
            DataCity
        </div>          
      </a>
  </nav>
</header>