<header class="masthead">
  <a href="/health-map" class="hm-masthead-brand-link">
      <div class="hm-masthead-brand">Mapa de Salud de Guayaquil</div>
  </a>
  <nav class="nav nav-masthead justify-content-center">
      <a class="nav-link" href="/health-map">
        <i class="hm-nav-icon material-icons">
            favorite
        </i>
        <div class="hm-nav-text">
          Mapa de Salud
        </div>
      </a>
      <a class="nav-link" href="/info">
        <i class="hm-nav-icon material-icons">
            info
        </i>
        <div class="hm-nav-text">
            Nosotros
        </div>        
      </a>
      <a class="nav-link" href="/institutions">
        <i class="hm-nav-icon material-icons">
            local_hospital
        </i>
        <div class="hm-nav-text">
          Intituciones Colaboradoras
        </div>
      </a>
      <a class="nav-link" href="http://150.136.213.20/" target="_blank">
        <i class="hm-nav-icon material-icons">
            location_city
        </i>
        <div class="hm-nav-text">
            DataCity
        </div>          
      </a>
      <% if (!user ) { %>
        <a class="nav-link" href="/login">
          <i class="hm-nav-icon material-icons">
              face
          </i>
          <div class="hm-nav-text">
              Iniciar Sesión
          </div>          
        </a>
      <% } else { %>
        <a class="nav-link" href="/logout">
          <i class="hm-nav-icon material-icons">
              keyboard_tab
          </i>
          <div class="hm-nav-text">
              Cerrar Sesión
          </div>          
        </a>
      <% }  %>
  </nav>
</header>