
.icon-location {
  width: 14px;
  height: 20px;
  padding: 2px 5px;
}

.icon-note {
  width: 14px;
  height: 18px;
  padding: 3px 5px;
}

.icon-contact {
  width: 16px;
  height: 16px;
  padding: 4px;
}

.icon-company {
  width: 16px;
  height: 20px;
  padding: 2px 4px;
}

.icon-shopping-basket {
  width: 22px;
  height: 20px;
  padding: 2px 1px;
}

.icon-paste {
  width: 18px;
  height: 22px;
  padding: 1px 3px;
}

.icon-routing-merge {
  width: 12px;
  height: 14px;
  padding: 5px 6px;
}

.icon-close {
  width: 14px;
  height: 14px;
  padding: 5px;
}

.icon-search {
  width: 18px;
  height: 18px;
  padding: 3px;
}

.icon-back {
  width: 16px;
  height: 16px;
  padding: 4px;
}

.icon-packages {
  width: 18px;
  height: 18px;
  padding: 3px;
}

.icon-polygon {
  width: 20px;
  height: 10px;
  padding: 7px 2px;
}

.icon-vertical-menu {
  width: 4px;
  height: 16px;
  padding: 4px 10px;
}

.icon-person-add {
  width: 22px;
  height: 16px;
  padding: 4px 1px;
}

.icon-divide-route {
  width: 22px;
  height: 16px;
  padding: 4px 1px;
}

.icon-person {
  width: 16px;
  height: 16px;
  padding: 4px;
}

.icon-break {
  width: 16px;
  height: 16px;
  padding: 4px;
}

.icon-check {
  width: 18px;
  height: 14px;
  padding: 5px 3px;
}

.icon-edit {
  width: 18px;
  height: 18px;
  padding: 3px;
}

.icon-reorder {
  width: 14px;
  height: 18px;
  padding: 3px 5px;
}

.icon-return-delivery {
  width: 16px;
  height: 20px;
  padding: 2px 4px;
}

.icon-error {
  width: 20px;
  height: 20px;
  padding: 2px;
}

.icon-info {
  width: 20px;
  height: 20px;
  padding: 2px;
}

.icon-delete {
  width: 14px;
  height: 18px;
  padding: 3px 5px;
}

.icon-add-circle {
  width: 20px;
  height: 20px;
  padding: 2px;
}

.icon-filter {
  width: 18px;
  height: 12px;
  padding: 6px 3px;
}

.icon-remove-circle {
  width: 20px;
  height: 20px;
  padding: 2px;
}
