
.shy-list-titlebar {
  height: 64px;
  min-height: 64px;
  display: flex;
  z-index: 9;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: #ef404b;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.shy-list-titlebar .icon-back,
.shy-list-titlebar .icon-close {
  margin: 0 16px;
  cursor: pointer;
}
.shy-list-titlebar .icon-back:hover,
.shy-list-titlebar .icon-close:hover {
  opacity: 0.8;
}
