
.footer-menu {
  width: 200px;
  height: auto;
  padding: 8px 0;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  position: absolute;
  cursor: pointer;
  bottom: 24px;
  margin-left: -126px;
}
  .footer-menu .footer-menu-item {
    padding: 8px 16px;
    display: flex;
    align-items: center;
  }
  .footer-menu .footer-menu-item:hover {
    background-color: #f7f7f7;
  }
    .footer-menu .footer-menu-item .footer-menu-item-label {
      font-size: 14px;
    	text-align: left;
    	color: #757575;
      margin-left: 16px;
    }
