
.incidence {
  display: flex;
  flex-direction: row;
  padding: 8px 0;
  font-size: 14px;
  color: #757575;
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.incidence:hover {
  background-color: #f7f7f7;
}

.incidence img {
  cursor: pointer;
  margin-right: 16px;
}

.incidence-sector {
  width: 30%;
  padding-right: 16px;
  font-weight: bold;
  margin-left: 16px;
}

.incidence-value {
  padding: 0 16px;
  display: flex;
  width: 20%;
}

.incidence-actions {
  display: flex;
  width: 100px;
  justify-content: flex-end;
  align-items: center;
  margin-left: 16px;
}

.incidence-actions .color {
  width: 16px;
  height: 16px;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
}

.incidence-actions .color-picker {
  position: fixed;
  z-index: 1;
}

.incidence-actions .icon-visibility {
  opacity: 0.8;
  cursor: pointer;
}
