
.point {
  width: 36px;
  height: 36px;
  cursor: pointer !important;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #757575;
  border-radius: 50%;
}

.polygon-tools {
  top: 81px;
  left: 356px;
  color: #757575;
  position: fixed;
  font-size: 16px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
}
  .polygon-tools .draw-shape {
    padding: 4.5px 8px;
    cursor: pointer;
  }

  .polygon-tools .draw-shape:hover,
  .mapbox-gl-draw_polygon {
    background-color: rgba(0,0,0,0.05);
  }

  .polygon-tools .delete-shape {
    padding: 5px 8px;
    cursor: pointer;
    border-top: 1px solid rgb(221,221,221);
  }

  .polygon-tools .historial-shape{
    padding: 5px 8px;
    cursor: pointer;
    border-top: 1px solid rgb(221,221,221);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }

  .historial-icon{
    width: 16px;
    height: 16px;
    margin-left: 8px;
  }

  .polygon-tools .delete-shape:hover,
  .mapbox-gl-draw_trash {
    background-color: rgba(0,0,0,0.05);
  }

.mapboxgl-ctrl-group {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.mapboxgl-ctrl-traffic, .mapboxgl-ctrl-map{
  background-image: url("http://icons.iconarchive.com/icons/thesquid.ink/free-flat-sample/1024/traffic-light-icon.png");
  background-size: contain;
  margin: 4px;
}

.mapboxgl-ctrl-top-right .mapboxgl-ctrl {
  margin: unset !important;
}

.mapboxgl-ctrl-top-right{
  top: 16px !important;
  left: 432px !important;
  right: unset !important;
  margin: unset !important;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  border-radius: 6px !important;
  opacity: 0.8;
}


.map-overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: Arial, sans-serif;
  overflow: auto;
}

.hm-legend-geofence-name{
  font-size: 14px !important;
  text-align: center;
}

.hm-hover-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin-right: 0px !important;
  top: 96px;
  right: 16px;
  height: fit-content;
  width: 175px;
  box-shadow:0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255,255,255,0.9);
  border-radius: 6px;
  color: #757575;
  max-height: calc(100% - 158px);
}


.hm-hover-box-title{
  font-size: 12px;
  display: flex;
  font-weight: bold;
  align-self: center;
  text-align: center;
}


.hm-legend-box{
  padding-top: 16px;
  display: flex;
  flex-direction: column;
}

.hm-legend-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.hm-legend-color-box{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 20px;
}

.hm-legend-meteor-box{
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-right: 8px;
}

.hm-legend-name{
  font-size: 12px;
  color: #757575;
  text-align: right;
  align-self: center;
  max-width: 140px;
}


.hm-temp-value{
  font-size: 12px;
  color: #757575;
  text-align: left;
  align-self: center;
  max-width: 140px;
  width: 40px;
}

.hm-temp-desc{
  font-size: 12px;
  color: #757575;
  text-align: left;
  align-self: center;
  width: 100px;
}