
.hm-map-titlebar {
  height: 80px;
  min-height: 80px;
  display: flex;
  z-index: 9;
  align-items: center;
  justify-content: space-between;
  background-color: #0092E1;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.shy-filter-icon {
  width: 24px;
  height: 24px;
  padding: 6px 3px;
  cursor: pointer;
  box-sizing: border-box;
  margin-left: 4px;
  margin-right: 4px;
}

.shy-map-titlebar-filters {
  font-size: 14px;
  text-align: right;
  color: #ffffff;
  margin-right: 16px;
  display: flex;
  align-items: center;
  border-right: 1px solid #fff;
}
  .shy-map-titlebar-filters img {
    margin-left: 8px;
    margin-right: 16px;
    width: 12px;
    height: 12px;
    padding: 1px;
    cursor: pointer;
    box-sizing: border-box;
  }

.shy-quick-actions {
  display: flex;
  align-items: center;
}
  .shy-quick-action {
    font-family: Roboto;
  	font-size: 12px;
  	letter-spacing: 0;
  	text-align: center;
  	color: #ffffff;
    padding: 5px 8px;
    cursor: pointer;
    border: solid 2px #ffffff;
  }
    .shy-quick-action:hover {
      background-color: #fff;
      color: #757575;
    }
  .shy-quick-action-left {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: none;
  }

  .hm-quick-action-middle {
    border-right: none;
  }
  .shy-quick-action-right {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .shy-quick-action-active {
    background-color: #fff;
    color: #757575;
  }

  .shy-quick-action-button{
    border-radius: 4px;
    display: flex;
    align-items: center;
    height: 32px;
    font-weight: bold;
  }

  .hm-action-box{
    padding-right: 16px;
    padding-left: 16px;
    height: 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .hm-action-box-bordered{
    border-right: 1px solid white;
  }

  .hm-action-box-full-bordered{
    border-right: 1px solid white;
    border-left: 1px solid white;
  }

  .hm-action-label{
    margin-bottom: 8px;
    font-size: 12px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hm-action-label-icon{
    width: 15px;
    height: 15px;
    margin-right: 4px;
  }

  .hm-action-label-text{
    margin-top: 2px;
    margin-left: 4px;
  }

  .hm-button-text-icon{
    font-size: 16px;
    margin-left: 4px;
  }

  .hm-opciones-icon{
    margin-right: 8px;
  }

  .hm-quick-selector-action{
    display: flex;
    border-radius: 4px;
  }

  .hm-quick-selector-value{
    margin-right: 4px;
  }

  .hm-map-title-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 275px;
    margin-left: 16px;
    color: white;
  }

  .hm-map-title-text{
    font-weight: bold;
    font-size: 20px;
    line-height: 1;
  }

  .hm-map-sidemenu{
    margin-right: 16px;
  }