
.assign-courier-dialog {
  width: 500px;
}

.automerge-dialog {
  width: 600px;
}

.assign-courier-header {
  margin-top: 16px;
  padding-bottom: 8px;
  font-size: 12px;
  color: #9e9e9e;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
  .assign-courier-header .header-name {
    width: 233px;
  }
  .assign-courier-header .header-phone {
    width: 116px;
  }
  .assign-courier-header .header-incidences {
    width: 100px;
  }

.courier-item {
  color: #757575;
  font-size: 14px;
  height: 48px;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
.courier-item:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}
  .courier-item .courier-name-wrapper {
    width: 200px;
  }
  .courier-item .courier-phone {
    width: 100px;
  }
  .courier-item .courier-incidences {
    width: 100px;
  }
  .courier-item .courier-separator {
    width: 1px;
    height: 20px;
    background-color: #e6e6e6;
    margin: 0 16px;
  }

.idle-search {
  display: flex;
  align-items: center;
  flex-direction: column;
}
  .idle-search .idle-search-img {
    width: 70px;
    height: 70px;
    padding: 15px;
  }
  .idle-search .idle-search-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #626262;
  }

.assign-courier-body .shy-loading-container .shy-loading {
  width: 70px;
  height: 70px;
  padding: 15px;
}
.assign-courier-body .shy-loading-container span {
  margin-top: 0;
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #626262;
}

.assign-courier-body .no-results-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .assign-courier-body .no-results-search img {
    width: 70px;
    height: 70px;
    padding: 15px;
  }
  .assign-courier-body .no-results-search .no-results-search-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #626262;
  }

.assign-courier-body .shy-error-container .shy-error img {
  width: 70px;
  height: 70px;
  padding: 15px;
}
.assign-courier-body .shy-error-container .shy-error span {
  margin-top: 0;
}
