.tags-message {
  padding: 8px 16px;
  background: #ececec;
  border-radius: 4px;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}
  .tags-message img {
    margin-right: 16px;
  }
  .tags-message span {
    font-size: 14px;
  	letter-spacing: -0.1px;
  	text-align: left;
  	color: #757575;
  }

.automerge-not-found{
  color: #bbb;
  font-size: 18px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.automerge-checkbox{
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.item-disabled{
  background-color: #ececec;
}

.item-disabled:hover{
  background-color: #ececec !important;
}

.automerge-item {
  color: #757575;
  font-size: 14px;
  min-height: 48px;
  display: flex;
  cursor: pointer;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
}
.automerge-item:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}
  .automerge-item .courier-name-wrapper {
    width: 200px;
  }
  .automerge-item .automerge-companies {
    width: 100px;
    display: flex;
    flex-direction: column;
  }
  .automerge-item .courier-incidences {
    width: 100px;
  }
  .automerge-item .courier-separator {
    width: 1px;
    height: 20px;
    background-color: #e6e6e6;
    margin: 0 16px;
  }

.automerge-route-id{
  display: flex;
  flex-direction: column;
}

.automerge-holder-icon{
  margin-right: 4px;
}

.automerge-item-routeid {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}

.automerge-item-companies {
  width: 20%;
  display: flex;
  align-items: center;
}

.automerge-item-tags {
  width: 35%;
  display: flex;
  align-items: center;
}

.automerge-item-status {
  width: 15%;
  text-align: left;
}

.assign-courier-header .automerge-header-routeid {
  width: 25%;
}
.assign-courier-header .automerge-header-companies {
  width: 20%;
}
.assign-courier-header .automerge-header-tags {
  width: 35%;
}

.assign-courier-header .automerge-header-status {
  width: 15%;
}
