/**
 * @file: dialog.css
 * @description: dialog styles
 */

.shy-dialog {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  overflow: auto;
  position: fixed;
  font-family: Roboto;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: rgba(0, 0, 0, 0.5);
}
  .shy-dialog-content-wrapper {
    margin: auto;
    padding: 40px;
  }
    .shy-dialog-content {
      border-radius: 4px;
      background-color: #fff;
    }
      .shy-dialog-content .shy-dialog-header {
        height: 56px;
        color: white;
        display: flex;
        padding: 0 16px;
        font-size: 21px;
        align-items: center;
        background-color: #0092E1;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        justify-content: space-between;
      }
        .shy-dialog-content .shy-dialog-header.shy-dialog-header-hidden {
          height: 0;
        }
          .shy-dialog-content .shy-dialog-header.shy-dialog-header-hidden .shy-dialog-close {
            margin-top: 0;
          }
        .shy-dialog-content .shy-dialog-header .shy-dialog-header-content {
          display: flex;
          align-items: center;
        }
          .shy-dialog-content .shy-dialog-header .shy-dialog-header-content img {
            width: 24px;
            height: 24px;
            margin-right: 16px;
          }
        .shy-dialog-content .shy-dialog-header .shy-dialog-close {
          width: 14px;
          height: 14px;
          margin-top: -56px;
          margin-right: -36px;
          background-color: #fff;
          padding: 13px;
          cursor: pointer;
          border-radius: 50%;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
        }
          .shy-dialog-content .shy-dialog-header .shy-dialog-close.shy-dialog-minimize {
            width: 24px;
            height: 24px;
            padding: 8px;
          }
      .shy-dialog-content .shy-dialog-body {
        padding: 16px;
        box-sizing: border-box;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        -webkit-transition: max-width 1s ease, max-height 1s ease;
        -moz-transition: max-width 1s ease, max-height 1s ease;
        -o-transition: max-width 1s ease, max-height 1s ease;
        transition: max-width 1s ease, max-height 1s ease;
      }
        .shy-dialog-content .shy-dialog-body .shy-dialog-body-text-detail {
          font-family: Roboto;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: normal;
          color: #757575;
          text-align: left;
        }
        .shy-dialog-content .shy-dialog-body.shy-dialog-body-sm {
          width: 360px;
        }
        .shy-dialog-content .shy-dialog-body .shy-dialog-body-buttons {
          display: flex;
          margin-top: 32px;
          justify-content: flex-end;
        }
          .shy-dialog-content .shy-dialog-body .shy-dialog-body-buttons .shy-btn {
            margin-left: 16px;
          }
  .shy-dialog-text {
    font-size: 14px;
  	letter-spacing: -0.1px;
  	color: #757575;
  }
  .shy-dialog-body-success,
  .shy-dialog-body-error,
  .shy-dialog-body-idle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 0;
  }
    .shy-dialog-body-success span,
    .shy-dialog-body-error span,
    .shy-dialog-body-idle span {
      font-size: 21px;
    	font-weight: bold;
    	text-align: center;
    	color: #626262;
      margin-top: 16px;
    }

.shy-error-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bdbdbd;
}
  .shy-error-container .shy-error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
    .shy-error-container .shy-error span {
      margin-top: 20px;
      font-family: Roboto;
      font-size: 16px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #626262;
    }
    .shy-error-container .shy-error button {
      margin-top: 16px;
    }

.shy-success-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bdbdbd;
}
  .shy-success-container .shy-success {
    display: flex;
    flex-direction: column;
  }
    .shy-success-container .shy-success span {
      margin-top: 36px;
      font-family: Roboto;
      font-size: 21px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #626262;
    }

.shy-loading-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #bdbdbd;
}
  .shy-loading-container span {
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #626262;
  }
  .shy-loading {
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
